.AssignRocket {
	width: 100%;
	padding: 10px;
	box-shadow: 0px 0px 4px -2.5px black;
	background-image: linear-gradient(180deg, white, rgba(255,250,240));
	border-radius: 10px;
}

.AssignRocket:hover {
	background-image: linear-gradient(180deg, rgba(255,250,240), white);
}

.AssignRocket__option {
	margin-bottom: 5px;
}

.AssignRocket__option:hover {
	color: green;
	transition: color 0.5s;
}

.AssignRocket__option > label {
	padding-left: 10px;
}

.AssignRocket__option > label:hover {
	cursor: pointer;
}

.AssignRocket__option--disable {
	opacity: 0.3;
}