.AssignRocket {
	width: 100%;
	padding-left: 5px;
	border-left: 5px solid black;
}

.AssignRocket__option {
	font-size: 20px;
	margin-bottom: 5px;
}

.AssignRocket__option > label{
	padding-left: 10px;
}

.AssignRocket__option--disable {
	opacity: 0.3;
}