.ChoosePlanet {
	width: 100%;
}

.ChoosePlanet__Select {
	display: block;
	width: 180px;
	margin-bottom: 20px;
	padding: 10px 3px;
	border-radius: 5px;
	background-image: linear-gradient(180deg, white, rgba(0, 0, 0, 0.1));
	font-size: 16px;
	font-weight: 700;
	border: none;
	box-shadow: 1px 1px 5px -2px black;
	font-style: sans-serif;
}

.ChoosePlanet__Select:hover {
	cursor: pointer;
	background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.1), white);
}