.Falcone {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	background: rgb(255,250,240);
}

.Falcone__button {
	margin: 10px 0 0;
	padding: 10px;
	font-size: 18px;
	font-weight: bold;
	border-radius: 10px;
	border: 0;
	box-shadow: 5px 5px 5px black;
	transition: box-shadow 0.5s;
	background-color: rgba(255,250,240);
}

.Falcone__button:hover {
	cursor: pointer;
	box-shadow: -5px -5px 5px black;
	transition: box-shadow 0.5;
	background-color: rgba(255,250,240);
}

.Falcone__main {
	flex-grow: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	justify-content: center;
	flex-basis: 80%;
}

@media screen and (max-width: 700px) {
	.Falcone__button {
		font-size: 16px;
	}
}
