.Falcone {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	background: rgb(255,250,240);
}

.Falcone__button {
	margin: 20px 0;
	padding: 10px;
	font-size: 20px;
	font-weight: bold;
	border-radius: 10px;
	border: 0;
	box-shadow: 5px 5px 5px black;
	transition: box-shadow 0.5s;
}

.Falcone-button:hover {
	cursor: pointer;
	box-shadow: -5px -5px 5px black;
	transition: box-shadow 0.5;
}

.Falcone__main {
	flex-grow: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 20px;
}
