.Message {
	position: absolute;
	bottom: 50px;
	left: 50px;
	padding: 10px;
	background-color: rgba(0, 0, 0, 1);
	color: white;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}

@media screen and (max-width: 900px) {
	.Message {
		bottom: 5px;
		left: 5px;
	}
}