.MissionPlan {
	display: flex;
	position: relative;
	justify-content: center;
	padding: 0 55px 30px 0;
	min-height: 300px;
	border-left: 10px solid grey;
	border-radius: 20px;
	background-color: white;
}

.MissionPlan-destinations {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.MissionPlan-destination {
	margin-left: 50px;
	margin-top: 20px;
	border-radius: 5px;
}

.MissionPlan-time {
	position: absolute;
	bottom: 0;
	left: 50%;
	font-size: 20px;
	transform: translate(-50%, 0);
}

.MissionPlan-title {
	margin-bottom: 10px;
	padding-left: 10px;
	font-size: 20px;
	color: black;
	font-weight: normal;
}