.MissionPlan {
	position: relative;
	padding: 30px 50px 30px 30px;
	min-height: 400px;
	min-width: 70%;
	border-left: 10px solid grey;
	border-radius: 20px;
	background-color: white;
	margin-bottom: 10px;
}

.MissionPlan__destinations {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 10px;
}

.MissionPlan__destination {
	margin-left: 20px;
	margin-top: 20px;
	border-radius: 5px;
}

.MissionPlan__time {
	position: absolute;
	bottom: 0;
	left: 50%;
	font-size: 2rem;
	transform: translate(-50%, 0);
}

.MissionPlan__title {
	margin-bottom: 10px;
	padding-left: 10px;
	color: black;
	font-weight: normal;
}

.MissionPlan__instructions {
	margin-left: 30px;
	font-size: 2rem;
}

@media screen and (max-width: 700px) {
	.MissionPlan {
		border-left: 0px;
	}
	
	.MissionPlan__instructions {
		font-size: 18px;
	}
	
	.MissionPlan__time {
		font-size: 18px;
	}
}