.MissionPlan {
	display: flex;
	position: relative;
	justify-content: center;
	padding: 30px 55px 30px 0;
}

.MissionPlan-destinations {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.MissionPlan-destination {
	margin-left: 50px;
	border-radius: 5px;
}

.MissionPlan-time {
	position: absolute;
	bottom: 0;
	left: 50%;
	font-size: 20px;
	font-weight: bold;
	transform: translate(-50%, 0);
}

.MissionPlan-title {
	margin-bottom: 10px;
	padding-left: 10px;
	font-size: 20px;
	text-shadow: 1px 1px 1.5px black, -1px -1px 1.5px black;
	color: white;
}