.Navbar {
	display: flex;
	width: 100%;
	flex-basis: 10%;
}

.Navbar__logo {
	flex-basis: 80%;
	min-height: 100px;
	position: relative;
}

.Navbar__title {
	position: absolute;
	left: 50vw;
	transform: translate(-50%, 0);
	font-size: 4rem;
}

.Navbar__menu {
	display: flex;
	flex-basis: 20%;
	justify-content: flex-end;
	align-items: flex-start;
	padding-right: 20px;
}

.Navbar__reset, 
.Navbar__geekhome {
	display: inline-block;
	margin-left: 20px;
	padding: 10px;
	border-radius: 10px;
	border-left: 5px solid grey;
	background-color: white;
}

.Navbar__reset:hover,
.Navbar__geekhome:hover {
	cursor: pointer;
	border-left: 0;
	border-right: 5px solid grey;
}

@media screen and (min-width: 1650px) and (max-width: 1700px) { 
  .Navbar__title { 
    font-size: 4rem;
  } 
  
  .Navbar__logo {
	min-height: 70px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1650px) { 
  .Navbar__title { 
    font-size: 3rem;
  } 
  
  .Navbar__logo {
	min-height: 60px;
  }
} 

@media screen and (min-width: 1300px) and (max-width: 1400px) { 
  .Navbar__title { 
    font-size: 2.7rem;
  } 
  
  .Navbar__logo {
	min-height: 60px;
  }
} 

@media screen and (min-width: 1100px) and (max-width: 1300px) { 
  .Navbar__title { 
    font-size: 2.3rem;
  } 
  
  .Navbar__logo {
	min-height: 50px;
  }
} 

@media screen and (min-width: 900px) and (max-width: 1100px) { 
  .Navbar__title { 
    font-size: 2rem;
  } 
  
  .Navbar__logo {
	min-height: 40px;
  }
}

@media screen and (max-width: 900px) {
	.Navbar__title {
		font-size: 1.5rem;
	}
	
	.Navbar__logo {
		min-height: 20px;
	}
	
	.Navbar__reset {
		visibility: hidden;
		position: relative;
		margin-left: 10px;
	}
	
	.Navbar__reset::after {
		visibility: visible;
		position: absolute;
		top: 10px;
		right: 0;
		width: 30px;
		height: 30px;
		content: '';
		background-image: url(../../images/reset.png);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	
	.Navbar__geekhome {
		visibility: hidden;
		position: relative;
		margin-left: 5px;
	}
	
	.Navbar__geekhome::after {
		visibility: visible;
		position: absolute;
		top: 10px;
		left: 0;
		padding: 15px;
		content: '';
		background-image: url(../../images/home.png);
		background-size: cover;
		background-position: center;
	}
	
	.Navbar__menu {
		padding-right: 0;
	}
}